/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.caret-right {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-left: 4px solid;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.listaResultado {
    list-style:none;
    padding:0;
    margin:0;
    text-decoration: none !important;
    text-transform: none !important;
}



.listaResultado span {
    text-transform: none !important;
}

.listaResultado .textoArchivo { 
    text-transform: none !important;
    font-weight:bold;
}

.listaResultado .textoResultado { 
    text-transform: none !important;
    font-weight:bold;
}

.textoResultado {
    color: #151515;
    font-size: 2.6vmin;
    text-transform:uppercase !important;
    font-weight: bold !Important;
}

.verde { 
    text-transform: none !important;
    font-weight:bold;
    font-size : 18px;
    color:#00ff21 !important;
}

.rojo { 
    text-transform: none !important;
    font-weight:bold;
    font-size : 18px;
    color:#C5002C !important;
}




/*Default */
.jumbotron
{
	background: url('../Images/ImagenInicio.png') no-repeat center center;
	background-position: 0%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: white;
}


.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0px;
}
 

input[type="file"] { 
    position: relative /*this needs to be in place for the pseudo element to position properly */; 
    -webkit-appearance: none /* this is the key to clearing the default styling */; 
    padding:0; 
    display:block;
    color: #555;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px !important;
    box-sizing: border-box;
    width: 0; 
    padding: 0; 
    margin: 0; 
    width: 0 !important; 
}

/*Esconde el botton por defecto*/
input[type=file]::-webkit-file-upload-button { 
    width: 0; 
    padding: 0; 
    margin: 0; 
    -webkit-appearance: none; 
    border: none; 
}

input[type="file"]:after { 
    content: "..."; 
    margin: 0 0 0 -2.2em; 
    display: inline-block; 
    left: 100%; 
    position: relative; 
    padding: 0em 0.5em; 
    border: solid 1px #ccc; 
    -webkit-appearance: none; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.1); 
    width: 32px;
    height: 32px;
}

.btn-file-upload { 
    margin: 0; 
    padding: 0;
    position: relative; 
    border: solid 1px #ccc; 
    -webkit-appearance: none; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.1); 
    width: 34px;
    height: 34px;
}


input.xml-file-upload[type="file"]:after, .btn-file-upload-xml  { 
    background: white url("../Images/file_xml_32.png") center;
}

input.pdf-file-upload[type="file"]:after, .btn-file-upload-pdf { 
    background: white url("../Images/file_pdf_32.png") center;
}



/*-----------------------------------------------------------------------------*/


input[type=text],
input[type="file"],
.form-control,
label,
Select,
span {
    text-transform: uppercase;
    font-size: 12px;
    color: #555;
}


label {
    text-transform:none !important;
}



.success {
    color: #0061a7;
    font-size: 10px !important;
    text-transform:uppercase;
    font-weight:bold;
}



.error {
    color: #C5002C;
    font-size: 10px !important;
    text-transform:uppercase;
    font-weight:bold;
}

.error-align{
    z-index:120 !important; 
    left:15px !important; 
    position:absolute; 
    top:35px !important;
}


.nota-posicion{
    font-size: 11px !important;
}

::-webkit-input-placeholder {
    color: #5B245B;
    opacity: 0.5;
}

:-moz-placeholder { /* Firefox 18- */
    color: #5B245B;
    opacity: 0.5;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #5B245B;
    opacity: 0.5;
}

:-ms-input-placeholder {
    color: #5B245B;
    opacity: 0.5;
}

.menu-fondo {
    background-color: #5B245B !important;
    color: #FFF !important;
}

.navbar-custom {
  background-image: -webkit-linear-gradient(top, #361536 0%, #5B245B 100%);
  background-image:      -o-linear-gradient(top, #361536 0%, #5B245B 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#361536), to(#5B245B));
  background-image:         linear-gradient(to bottom, #361536 0%, #5B245B 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#361536', endColorstr='#5B245B', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 4px;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #120712 0%, #200d20 100%);
  background-image:      -o-linear-gradient(top, #120712 0%, #200d20 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#120712), to(#200d20));
  background-image:         linear-gradient(to bottom, #120712 0%, #200d20 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff120712', endColorstr='#ff200d20', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
          box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
}
.navbar-custom .navbar-brand,
.navbar-custom > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
  color: #FFF !important;
}


/*Loader*/
    #Background {
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        overflow: hidden;
        padding: 0;
        margin: 0;
        background-color: #F0F0F0;
        filter: alpha(opacity=80);
        opacity: 0.8;
        z-index: 100000;
    }

#Progress {
    position: fixed;
    top: 40%;
    left: 40%;
    height: 20%;
    width: 20%;
    /*top: 35%;
    left: 25%;
    height: 40%;
    width: 50%;*/
    z-index: 100001;
    background-color: #FFFFFF;
    border: 1px solid Gray;
    background-image: url('../Images/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

/*BS3*/
/* .col-xs-$	Extra Small	Phones Less than 768px1 */
@media screen and (max-width:767px){
    .upload-file-icon {
        width: 32px;
        height: 32px;
    }


/*.col-sm-$	Small Devices	Tablets 768px and Up*/
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }

    .upload-file-icon {
        width: 32px;
        height: 32px;
    }

}

/*.col-md-$	Medium Devices	Desktops 992px and Up*/
@media screen and (min-width:992px){
    .upload-file-icon {
        width: 32px;
        height: 32px;
    }

}

/*.col-lg-$	Large Devices	Large Desktops 1200px and Up*/
@media screen and (min-width:1200px){
    .upload-file-icon {
        width: 32px;
        height: 32px;
    }

}






/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

 