<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="CuentasPagarBDConnection" connectionString="Data Source=SVATMCPPSQL\SVATMCPPSQL12;Initial Catalog=CuentasPagarBD;User ID=AdminCPP;Password=Afore321;Integrated Security=True;Trusted_Connection=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="CuentasPagarBDConnection" connectionString="Data Source=172.20.144.93\SVATMCPPSQL12,1433;Initial Catalog=CuentasPagarBD;User ID=AdminCPP;Password=Afore321;Integrated Security=True;Trusted_Connection=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="CuentasPagarBDConnection" connectionString="Data Source=MAURICIO-PC;Initial Catalog=CuentasPagarBD4;User ID=sa;Password=123456;Integrated Security=True;Trusted_Connection=false;" providerName="System.Data.SqlClient" />-->
    <add name="CuentasPagarBDConnection" connectionString="Data Source=ORION\DESARROLLO2012;Initial Catalog=CuentasPagarBD;User ID=sa;Password=123;Integrated Security=True;Trusted_Connection=false;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Login">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Content" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" executionTimeout="10800" maxRequestLength="2097151" enableHeaderChecking="false" requestLengthDiskThreshold="2097150" requireRootedSaveAsPath="false"/>
    <!--<authentication mode="None" />-->
    <authentication mode="Forms">
      <forms loginUrl="Login" name=".ASPXFORMSAUTH" protection="All" timeout="30" cookieless="UseCookies">
      </forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
	      La pertenencia a ASP.NET está deshabilitada en esta plantilla. Visite el vínculo siguiente http://go.microsoft.com/fwlink/?LinkId=301889 para obtener información sobre la compatibilidad con la pertenencia a ASP.NET en esta plantilla
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
	      El perfil de pertenencia a ASP.NET está deshabilitado en esta plantilla. Visite el vínculo siguiente http://go.microsoft.com/fwlink/?LinkId=301889 para obtener información sobre la compatibilidad con la pertenencia a ASP.NET en esta plantilla
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
	        El rol de pertenencia a ASP.NET está deshabilitado en esta plantilla. Visite el vínculo siguiente http://go.microsoft.com/fwlink/?LinkId=301889 para obtener información sobre la compatibilidad con la pertenencia a ASP.NET en esta plantilla
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            Si la implementación se realiza en un entorno de nube con varias instancias de servidor web,
            debería cambiar el modo de estado de sesión de "InProc" a "Custom". Además, cambie también
            la cadena de conexión con el nombre "DefaultConnection" para conectarse a una instancia de
            SQL Server (incluidos SQL Azure y SQL Compact) en lugar de conectarse a SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <globalization uiCulture="es" culture="es-MX" />
  </system.web>
  <system.webServer>
    <modules>
      <!--<remove name="FormsAuthentication"  />-->
    </modules>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>

    <!-- se va cambiar el ip 172.20.0.90
         Esperando confirmacion del usuario, directorio a usar
    -->
    <add key="FTPIP" value="172.20.0.90" />
    <!--<add key="FTPUser" value="SSAPUSR" /> -->
    <add key="FTPUser" value="ua_webcxp" />
    <!--<add key="FTPUserPassword" value="$@PAXXIB2OIT" /> -->
    <add key="FTPUserPassword" value="U@w3cxx17%" />
    <add key="FTPRemoteLocation" value="/I/CXP-CE" />
    <add key="FTPPort" value="22" />


    <add key="XMLFilePrefix" value="XML_" />
    <add key="PDFFilePrefix" value="PDF_" />

    <add key="XMLFileServerPath" value="C:\Aplicaciones\Banorte\Files\XML\" />
    <add key="PDFFileServerPath" value="C:\Aplicaciones\Banorte\Files\PDF\" />
    
    

    <!--Nombre que identifica el sistema SAP que es el codigo -->
    <add key="NAME" value="AFQ" />
    <!--SAP login username -->
    <add key="SAP_USERNAME" value="UA_WEBCXP1" />
    <!--SAP login password -->
    <add key="SAP_PASSWORD" value="U@w3cxx17%" />
    <!--SAP client number -->
    <add key="SAP_CLIENT" value="150" />
    <!--SAP client number -->
    <add key="SAP_APPSERVERHOST" value="172.20.0.90" />
    <!--SAP client number -->
     <!--0 Desarollo -->
     <!--02 QA -->     
    <add key="SAP_SYSTEMNUM" value="02" />
    <add key="SAP_LANGUAGE" value="EN" />
    <add key="SAP_POOLSIZE" value="10" />
  </appSettings>
  <system.serviceModel>
    <!--
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IConsultaCFDIService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>-->
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IConsultaCFDIService"
            useDefaultWebProxy="false"
            proxyAddress = "http://172.20.1.218:3128" >
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint  address="https://consultaqr.facturaelectronica.sat.gob.mx/ConsultaCFDIService.svc"  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsultaCFDIService" contract="ConsultaCFDIService.IConsultaCFDIService" name="BasicHttpBinding_IConsultaCFDIService" />
    </client>
  </system.serviceModel>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Banorte\Log\LOG_" />
      <datePattern value="yyyyMMdd'.log'" />

      <!--<rollingStyle value="Size" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="20MB" />-->

      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{yyyy-MM-dd HH:mm:ss.fff} %newline [%thread] %-5level %logger [%property{NDC}] %newline Error: %message%newline___ %newline%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>